*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
backend/.idea
frontend/node_modules
frontend/package-lock.json
backend/src/main/resources/databases.properties
