*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
backend/.idea
frontend/node_modules
frontend/package-lock.json
backend/src/main/resources/databases.properties
deploy/webapps
./src
# frontend/src
deploy/.env
.terraform
terraform-key
terraform-key.pub
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
api-keys
deploy/elk/data
dist
.vagrant
gitlab_setup.sh